body{
    background: #e0b939;
}

#saudacao{
    color:white;
    
}

.quadro{
    position:absolute;
    top:50px;
    left: 200px;
    background: white;
    width:600px;
    height: 400px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.2);
    color: black;
}

.paisagem{
    border-radius: 50%;
}